/*
  Based on CSS reset by Josh Comeau: https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* Use border-box box sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/* Ignore default fonts */
input, button, textarea, select {
  font: inherit;
}

/* Prevent image overflow */
img {
  max-width: 100%;
}
