:root {
    --page-margin-side: 10%;
    --page-margin-top: 160px;
    --page-margin-bottom: 60px;

    --column-gutter: 40px;

    --border-radius: 8px;

    --spacing-base: 8px;

    --spacing-xs: calc(var(--spacing-base) * 1);
    --spacing-s: calc(var(--spacing-base) * 2);
    --spacing-m: calc(var(--spacing-base) * 3);
    --spacing-l: calc(var(--spacing-base) * 4);
    --spacing-xl: calc(var(--spacing-base) * 5);
    --spacing-xxl: calc(var(--spacing-base) * 9);
    --spacing-xxxl: calc(var(--spacing-base) * 15);

    --icon-size: 1.5em;

    --textsize-link: 1em;
    --textsize-h1: 2.5em;
    --textsize-h2: 1.33em;
    --textsize-h3: 1em;
    --textsize-small: 0.83em;

    --textsize: 24px;
}

/* Breakpoints for smaller screens */
@media (max-width: 1024px) {
    :root {
        --page-margin-top: 116px;
        --column-gutter: 16px;
        --textsize: 14px;
        --spacing-base: 4px;
    }
}
