:root {
    --page-margin-side: 10%;
    --page-margin-top: 160px;
    --page-margin-bottom: 60px;

    --column-gutter: 40px;

    --border-radius: 8px;

    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 32px;
    --spacing-xl: 40px;
    --spacing-xxl: 72px;
    --spacing-xxxl: 120px;

    --icon-size: 1.5em;

    --textsize-link: 1em;
    --textsize-h1: 2.5em;
    --textsize-h2: 1.33em;
    --textsize-h3: 1em;
    --textsize-small: 0.83em;

    --textsize: 24px;
}
