:root {
    --page-margin-side: 10%;
    --page-margin-top-bottom: 60px;

    --column-gutter: 40px;

    --border-radius: 8px;

    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 32px;
    --spacing-xl: 40px;
    --spacing-xxl: 72px;
    --spacing-xxxl: 120px;

    --textsize-link: 1.5rem;
    --textsize-h1: 3.75rem;
    --textsize-h2: 2rem;
    --textsize-h3: 1.5rem;
}
