@import url("sizes.css");
@import url("colours.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap");

/* Common elements */

:root {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: var(--textsize);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

h1 {
  font-size: var(--textsize-h1);
}

h2 {
  font-size: var(--textsize-h2);
}

h3 {
  font-size: var(--textsize-h3);
}

.p--inverse {
  color: var(--color-background);
}

.h2--big {
  /* H2 but with the size of h1 */
  font-size: var(--textsize-h1);
}

/* Page content */
.page-content {
  margin: var(--page-margin-top) 0 var(--page-margin-bottom) 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.page-content--home {
  /* Larger spacing on homepage */
  gap: var(--spacing-xxxl);
}

.page-content > * {
  /* Set the side margins here instead so it can be overwritten */
  margin: 0 var(--page-margin-side);
}

/* Layouts (based on Week 9 workshop)*/
/* Sidebar */
.sidebar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sidebar-container__sidebar {
  flex-basis: 50%;
  flex-grow: 1;
}

.sidebar-container__not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}

/* Stack */
.stack {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.stack--row {
  flex-direction: row;
}

.stack--centred {
  align-items: center;
}

.stack--distribute {
  justify-content: space-between;
}

/* Cluster */
.cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* Links */
.link {
  font-size: var(--textsize-link);
  font-family: "Poppins", "Roboto", Helvetica, Arial, sans-serif;
  color: var(--color-interactive);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link--normal {
  color: var(--color-interactive);
}

.link--text {
  color: var(--color-text);
}

.link--inverse {
  color: var(--color-background);
}

.link--accent {
  color: var(--color-accent);
}

/* Icon */
.icon {
  width: auto;
  height: var(--icon-size);
}

/* Button */
.button {
  padding: 16px 64px 16px 64px;
  font-size: var(--textsize-link);
  background-color: var(--color-accent);
  font-family: "Poppins", "Roboto", Helvetica, Arial, sans-serif;
  border-radius: var(--border-radius);
  color: var(--color-text);
  border: none;
  text-align: center;
  text-decoration: none;
}

.button--narrow {
  padding: 16px;
}

.button:hover {
  background-color: var(--color-accent-highlight);
}

.button--inverse {
  color: var(--color-accent);
  background-color: var(--color-interactive);
}

.button--inverse:hover {
  background-color: var(--color-foreground);
}

/* Options bar (for list of options e.g. filter, sorting etc) */
.options-bar {
  gap: var(--spacing-l);
}

/* Clickable class - for clickable elements */

.clickable:hover {
  cursor: pointer;
}

.clickable:hover .link {
  text-decoration: underline;
}

/* Overlay */
.overlay {
  position: fixed;
  background-color: var(--color-overlay-mask);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.overlay__exit {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.overlay--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay--right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.overlay--top {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: start;
}

.overlay--left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.overlay--hidden {
  display: none;
}

.overlay__close {
  position: absolute;
  top: var(--spacing-l);
  right: var(--spacing-l);
  width: var(--spacing-xxl);
  height: var(--spacing-xxl);
}

/* Hide element */
.hide {
  display: none;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: var(--color-foreground);
  align-items: center;
  padding: 0 var(--page-margin-side) 0 var(--page-margin-side);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

header .logo-image {
  height: 50%;
  margin-right: auto;
}

header .logo-image > img {
  height: 100%;
}

header > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: var(--spacing-l);
}

header .icon {
  width: 1em;
  height: 1em;
}

.header__cart-container {
  position: relative;
}

.header__cart-container__notification {
  position: absolute;
  background-color: var(--color-accent);
  border-radius: 100%;
  text-align: center;
  width: 1em;
  height: 1em;
  top: -0.5em;
  right: -0.5em;
}

/* Footer */
footer {
  background-color: var(--color-foreground);
  padding: var(--spacing-xxxl) var(--page-margin-side);
  color: var(--color-background);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--column-gutter);
  align-items: center;
}

footer p {
  font-size: var(--textsize-small);
}

footer .link {
  font-size: var(--textsize-small);
  color: var(--color-background);
}

.footer__icon-bar {
  padding: 0;
  margin-top: var(--spacing-s);
  list-style-type: none;
  justify-content: space-evenly;
}

.footer__logo {
 width: 100%;
}

/* Hero */
.hero {
  background-color: var(--color-foreground);
  color: var(--color-background);
  border-radius: var(--border-radius);
}

.hero__image {
  flex-basis: calc(50% - var(--column-gutter));
  border-radius: var(--border-radius);
  height: 500px;
  object-fit: cover;
  min-width: 500px;
}

.hero__content {
  padding: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-m);
}

.hero__content__space {
  /* Make the button always stay at the bottom */
  flex-grow: 1;
}

.hero__content__button {
  margin-top: var(--spacing-xl);
}

/* Home page */

/* Category card */
.product-categories {
  /* 4 rows grid that collapses into 2x2 */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--column-gutter);
}

.product-categories__card {
  background-color: var(--color-foreground-light);
  border-radius: var(--border-radius);
}

.product-categories__image {
  border-radius: var(--border-radius);
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

.product-categories__card__header {
  margin: var(--spacing-s);
}

/* Banner with background */
.background-banner {
  background-color: var(--color-foreground);
  margin: 0;
  padding: 0 var(--page-margin-side);
  padding-top: var(--spacing-xxxl);
  padding-bottom: var(--spacing-xxxl);
  gap: var(--spacing-xl);
}

/* Featured products */
.featured-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--column-gutter);
}

.featured-products__card {
  flex-basis: 400px;
  background-color: var(--color-foreground-light);
  border-radius: var(--border-radius);
  padding: var(--spacing-xl);
  gap: var(--spacing-xs);
}

.featured-products__card__image {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}

/* Catalogue page */

/* Catalogue icon container */
.catalogue-icon-container {
  align-items: flex-end;
  width: auto;
  justify-content: space-between;
}

.categories {
  flex-basis: 25%;
  min-width: 200px;
}

/* Product catalogue */
.catalogue {
  gap: var(--spacing-xxl);
}

/* Product card container */
.product-card-container {
  gap: var(--column-gutter);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-card-container--partial {
  grid-template-columns: repeat(3, 1fr);
}

/* Product card */
.product-card {
  width: 100%;
  gap: 0;
}

.product-card__image {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

/* Search */
.search-bar {
  width: auto;
  border: 1px solid var(--color-foreground);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background);
}

.search-bar__input {
  flex-grow: 1;
  border: none;
  background: none;
  padding: 0 var(--spacing-s);
}

/* Product page */
.product-page {
  background-color: var(--color-foreground);
  margin-left: var(--page-margin-side);
  margin-right: var(--page-margin-side);
  margin-top: var(--page-margin-top);
  margin-bottom: var(--page-margin-bottom);
  color: var(--color-background);
  border-radius: var(--border-radius);
  position: relative;
  max-width: 90%;
}

.product-page__image {
  border-radius: var(--border-radius);
  object-fit: cover;
  width: 0;
  min-width: 400px;
}

.product-page__description {
  padding: var(--spacing-l);
  gap: var(--spacing-xl);
}

.product-page__price-tag {
  color: var(--color-accent);
  font-size: var(--textsize-h2);
  font-family: "Poppins", "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.product-page__quantity-form {
  gap: var(--spacing-m);
}

.product-page__quantity-form__container {
  gap: var(--spacing-xs);
  width: 100%;
}

.product-page__quantity-form__input {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 60px;
  border-radius: var(--border-radius);
  text-align: center;
}

/* Cart */
.cart {
  background-color: var(--color-foreground);
  width: max(min(calc(100% - var(--column-gutter)), 800px), 50%);
  height: 100%;
  color: var(--color-background);
  padding: var(--spacing-xl) var(--spacing-xxl);
  gap: var(--spacing-s);
  position: relative;
}

.cart__container {
  gap: var(--spacing-s);
  flex-grow: 999;
}

.cart__item {
  height: 160px;
  gap: var(--spacing-xl);
}

.cart__item__img {
  border-radius: var(--border-radius);
  object-fit: cover;
}

.cart__item__element {
  width: 0;
  flex-basis: 0;
  flex-grow: 1;
  height: 100%;
}

.cart__space {
  flex-basis: 0;
  flex-grow: 999;
  height: 0;
}

.cart__item__input {
  width: 0;
  flex-grow: 1;
  text-align: center;
}

.cart__navigation {
  width: 100%;
  justify-content: center;
}

.cart__table__price {
  text-align: end;
}

/* Search popup */
.search-popup {
  background-color: var(--color-foreground);
  padding: var(--spacing-xxl) var(--page-margin-side);
  width: 100%;
  color: var(--color-background);
  gap: var(--spacing-s);
  position: relative;
}

.search-popup__link {
  text-align: center;
}

/* Mobile menu popup */
.mobile-menu-popup {
  background-color: var(--color-foreground);
  width: 50%;
  height: 100%;
  color: var(--color-background);
  padding: var(--spacing-xl) var(--spacing-xxl);
  gap: var(--spacing-s);
  position: relative;
}

/* Breakpoint for desktop screens */
@media (min-width: 1025px) {
  /* Hide elements on desktop but not mobile */
  .hide--desktop {
    display: none;
  }

}

/* Breakpoints for smaller screens */
@media (max-width: 1024px) {

  /* Hide element */
  .hide--mobile {
    display: none;
  }

  header {
    padding-top: var(--spacing-xl);
    justify-content: space-between;
  }

  header .icon {
    width: 1.5em;
    height: 1.5em;
  }

  header .hamburger-menu {
    width: 2em;
    height: 2em;
  }

  .header__logo {
    /* Always centre the header logo */
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--spacing-xxl);
  }  
  .footer__logo {
    width: 50%;
   }

  .button {
    padding: 4px 16px;
  }
  
  .hero__image {
    height: 300px;
    min-width: 80%;
  }

  .product-categories {
    grid-template-columns: repeat(2, 1fr);
  }

  .featured-products {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__content .button {
    align-self: center;
  }

  .product-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .catalogue-icon-container {
    align-items: start;
    flex-direction: column;
  }
   
}
/* Order 1 */
.checkout-container{
  width: 60%;
  margin: auto;
}
.cart-count{
  position: relative;
}
.oder-count{
  position: absolute;
  top: -3px;
  right: -8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffd600;
  color: #000;
  font-size: 10px;
  text-align: center;
  font-weight: 700;
}
.text-center{
text-align: center;
}
.checkout-cluster{
  padding: var(--spacing-xs) 0;
}
label{
  display: block;
  line-height: 2;
  font-size: 15px;
}
.input-field,
.input-field:hover,
.input-field:focus,
.input-field:focus-visible{
  border-width: 0 0 1px 0;
  border-color: #000;
  width: 100%;
  outline: none;
  font-size: 18px;
  line-height: 0;
  margin-bottom: 20px;
}
.input-con{
  width: 45%;
}
.submit-btn{
  text-align: center;
  margin: var(--spacing-xl) 0;
}
.button--inverse.bnt1{
  border: 4px solid #17530D;
}
/* Order 2 */
.payment-info-form {
  padding: 50px;
  background-color: #E5E5E5;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}
.payment-info-form .input-field,
.input-field:focus,
.input-field:focus-visible{
  border: 0;
    border-radius: 10px;
}
.payment-info-form  .input-field:focus,
.payment-info-form  .input-field:focus-visible{
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}
.input-icons{
  position: relative;
}
.input-icons i {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: #9EA8BD;
}
.total-pay{
  font-size: 15px;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.cicon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
}
.button--reverse{
  border: 4px solid #17530D;
  outline: #17530D;;
  color: #17530D;
  background-color: #fff;
  margin: 0 10px;
  
}
.button--reverse:hover{
  background-color: #fff;
}
/* Order 3 */
.order-details-container,
.delivery-details,
.payment-details{
  margin: var(--spacing-s) 0;
}
.detail-item-l,
.detail-item-r{
  display: inline-block;
}
.detail-item-r{
  float: right;
  text-align: right;
}
.text-bold{
  font-weight: 800;
}
